@charset "utf-8";

/* Header styles */
.horizontal > ul > li:last-child {
    background-color: cyan;
}

.horizontal > ul > li:last-child > a {
    color: darkblue;
}

/* Image Gallery styles */
.image-gallery {
    clear: both;
}