@charset "utf-8";

/* Header styles */
.horizontal > ul > li:first-child {
    background-color: cyan;
}

.horizontal > ul > li:first-child > a {
    color: darkblue;
}

/* Layer styles */
#layer_container {
    clear: both;
    position: relative;
}

.layer {
    width: 100%;
}

/* Top and Logo styles */
#top {
    position: relative;
    height: 300px;
    overflow: hidden;
}

#logo {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
}