@charset "utf-8";

/* DOM styles */

/* html {
    background-color: white;
} */

/* Body styles */
body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgb(58, 58, 58);
    color: white;
    width: 65vw;
    margin: 0px auto;
    outline: 1px solid red;
}

/* Header styles */
.header {
    width: 100%;
}

.horizontal {
    width: 100%;
}

.horizontal li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    line-height: 2em;
    float: left;
    width: 50%;
    text-align: center;
    border: 1px solid white;
}

.horizontal li:first-child { border-right-width: 0px !important; }
.horizontal li:last-child  { border-left-width:  0px !important; }

.horizontal a { color: cyan; }

/* Footer styles */
footer {
    clear: both;
    width: 100%;
    text-align: center;
}
