@charset "utf-8";

/* Body styles */
body {
    background-color: rgb(58, 58, 58);
    color: white;
}

/* Header styles */
.horizontal {
    width: 100%;
}

.horizontal li {
    display: block;
    float: left;
    border: 3px solid white;
}

.horizontal li:first-child { border-right-color: transparent !important; }
.horizontal li:last-child  { border-left-width:  transparent !important; }

.horizontal a { color: cyan; }

/* Footer styles */
footer {
    clear: both;
    width: 100%;
}